<div class="container1 indigo topLeftBorders">
  <a href="/">HOME</a>
  <a href="/getproducts">VIEW PRODUCTS</a>
  <a href="/addproduct">ADD PRODUCTS</a>
  <a href="#">ABOUT</a>
  <a href="#">CONTACT</a>
</div>
