
.cascading-right {
    margin-right: -50px;
}
input.form-control.ng-untouched.ng-pristine.ng-invalid {
    margin-top: 20px;
}
.sub {
    margin: 20px;
    background: blue;
    height: 31px;
    border-radius: 20px;
}
input.btn.btn-success.mt-2 {
    width: 282px;
    margin-top: 10px;
    background: black;
    border: none;
}
.w-100 {
    width: 100% !important;
    height: 555px;
    margin-left: 39px;
}
input.btn.btn-success.mt-2:hover {
    width: 282px;
    margin-top: 10px;
    background: #3F51B5;
    border: none;
}
button {
    background: blue;
    border: none;
    color: white;
    margin: 6px;
    border-radius: 20px;
}
input{
    text-align: center;
}
@media (max-width: 991.98px) {
    .cascading-right {
        margin-right: 0;
    }
}